---
import { apps } from '../content/apps';
import { isBlogEnabled } from '../lib/flags';
import AppIconTile from './AppIconTile.astro';
import GalleryWidget from './GalleryWidget.astro';
import WeatherWidget from './WeatherWidget.astro';
import CalendarWidget from './CalendarWidget.astro';
import SpotifyWidget from './SpotifyWidget.astro';

const visibleApps = apps.filter((app) => app.href !== '/blog' || isBlogEnabled);
---

<div class="relative h-full w-full">
	<!-- Mobile: widgets above a centered springboard-style icon grid -->
	<div class="flex h-full flex-col items-center justify-center gap-8 md:hidden">
		<div class="flex w-full max-w-xs flex-col items-center gap-8">
			<div class="grid w-full grid-cols-2 gap-4">
				<GalleryWidget />
				<WeatherWidget />
				<CalendarWidget />
				<SpotifyWidget />
			</div>
			<div class="grid w-full grid-cols-4 gap-4">
				{visibleApps.map((app) => <AppIconTile app={app} />)}
			</div>
		</div>
	</div>

	<!-- Desktop: icons top-right, widgets top-left -->
	<div class="absolute right-0 top-0 hidden md:flex md:flex-col md:items-center md:gap-8">
		{visibleApps.map((app) => <AppIconTile app={app} />)}
	</div>
	<div class="absolute left-0 top-0 hidden md:grid md:grid-cols-2 md:gap-6">
		<GalleryWidget />
		<WeatherWidget />
		<CalendarWidget />
		<SpotifyWidget />
	</div>
</div>
